<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">  
  <connectionStrings xdt:Transform="Replace">
    <add name="ContactContext" providerName="System.Data.SqlClient" connectionString="{Your ConnectionString}" />
    <add name="AzureWebJobsStorage" connectionString="{Your ConnectionString}" />
  </connectionStrings>

  <appSettings xdt:Transform="Replace">
    <!--Security-->
    <add key="ida:Tenant" value="{Your Tenant}" />
    <add key="ida:ClientId" value="{Your ClientId}" />
    <add key="ida:ClientSecret" value="{Your Client Secret}" />
    <add key="ida:AadInstance" value="https://login.microsoftonline.com/{0}/v2.0/.well-known/openid-configuration?p={1}" />
    <add key="ida:SignUpPolicyId" value="b2c_1_signup" />
    <add key="ida:SignInPolicyId" value="b2c_1_signin" />
    <add key="ida:UserProfilePolicyId" value="b2c_1_edit_profile" />
    <add key="app:thumbnailqueue" value="thumbnailqueue"/>
    <add key="app:thumbnailblob" value="thumbnailblob"/>
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>